<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Change your favorite Queen</h1>
  <h3>Current Favorite Queen: <%= profile.favQueen %> </h3>
  <form action="/profiles/favQueen?_method=PUT" method="POST">
    <label>
      Queen:
      <input 
        type="text" 
        name="favQueen" 
      >
    </label>
    <br>
    <button type="submit">Update Queen</button>
  </form>
  <form action="/profiles/favQuotes" method="POST">
    <br>
    <label>
      Add Quote:
      <input 
        type="text" 
        name="favQuotes" 
      >
    </label>
    <br>
    <button type="submit">Add Quote</button>
  </form>  
</section>
<section>
  <h3>Favorite quotes: <% profile.favQuotes.forEach(quote => { %></h3>
    <div><%= quote %> <div>
      <% }) %> 
</section>

<%- include('../partials/footer') %>