<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
        class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <% if (profile.favQueen === "" || profile.favQueen === undefined) { %> 
      <h2>Who will be crowned America's next<br>Drag Superstar at the end of season 14?</h2>
      <form action="/flights" method="post">
        <label>
          Season 14 Queens:
          <br>
          <select name="favQueen">
            <option value="Bosco">Bosco</option>
            <option value="DeJa Skye">DeJa Skye</option>
            <option value="Willow Pill">Willow Pill</option>
            <option value="Angeria Paris VanMicheals">Angeria Paris VanMicheals</option>
            <option value="Lady Camden">Lady Camden</option>
            <option value="Daya Betty">Daya Betty</option>
            <option value="Jasmine Kennedie">Jasmine Kennedie</option>
            <option value="Jorgeous">Jorgeous</option>
            <option value="Kerri Colby">Kerri Colby</option>
            <option value="Maddy Morphosis">Maddy Morphosis</option>
            <option value="Orion Story">Orion Story</option>
            <option value="Kornbred 'The Snack' Jete">Kornbred 'The Snack' Jete</option>
            <option value="Alyssa Hunter">Alyssa Hunter</option>
            <option value="June Jambalaya">June Jambalaya</option>
          </select>
        </label>
        <button type="submit">Make Guess</button>
      </form>
    <% } else { %>
     <h3> I really hope <%= profile.favQueen %> is crowned America's next Drag Superstar!</h3>
    <% } %> 
    <br>
    <h2>Make a guess</h2>
    <form 
      action=""
      autocomplete="off"
      method="post"
    >
      <label>
        Name:
        <input type="text" name="name" >
      </label>
      <label>
        Episode:
        <input type="number" name="age">
      </label>
      <button type="submt">Make Guess</button>
  <% } %>
</main>


<%- include('../partials/footer') %>