<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>

<main <% if (isSelf) { %>
  class="main-profile"
<% } else { %> 
  class="main-profile-player"
  <% } %> >
  <section <% if (isSelf) { %>
    class="profile-details"
  <% } else { %> class="profile-details-player"
  <% } %> >
    <% if (profile.avatar) { %>
      <div class="profile-image">
        <img 
          src="<%= profile.avatar %>" 
          alt="<%= profile.name %> avatar"
          class="profile-avatar"
        >
      </div>
    <% } %>
    <h1 class="profile-name"><%= profile.name %></h1>
    <% if (profile.favQueen !== undefined) { %>
      <section class="favs-section">
        <h3 class="fav-title">Favorite queen: </h3>
        <div class="fav-queen"><%= profile.favQueen %></div>
        <h3 class="fav-title">Favorite quotes: </h3><% profile.favQuotes.forEach(quote => { %>
         <div class="quotes"><%= quote.quotes %> <div><br>
        <% }) %> 
      </section>
      <% if (isSelf) { %>
        <form action="/profiles/<%= profile._id %>/edit" method="GET">
          <button class="btn" type="submit">Update Profile</button>
        </form>       
      <% } %>
    <% } %>
  </section>
  <% if (isSelf) { %>
      <section class="guesses">
        <% if (profile.favQueen === undefined) { %>
          <section class="queen-quote-input">
            <h2 class="enter-favs">Add your favorite queen and quote to get started!</h2>
            <form action="/profiles/favorites" method="post">
              <label>
                Queen:
                <input type="text" name="queen" >
              </label>
              <br>
              <br>
              <label>
                Quote:
                <input type="text" name="quotes">
              </label>
              <br>
              <br>
              <button type="submit">Add to Profile</button>
            </form>        
          </section>
        <% } %>
    <% if (profile.guessSeason === "" || profile.guessSeason === undefined) { %> 
      <section class="season-winner <% if (profile.favQueen === undefined) { %>
       hide"
      <% } %>
      ">
        <h2>Who will be crowned <br>America's next Drag Superstar?</h2>
        <form class="drag-superstar" action="/profiles/<% profile._id %> /guessSeason" method="post">
          <br>
          <select name="guessSeason">
            <option value="Bosco">Bosco</option>
            <option value="DeJa Skye">DeJa Skye</option>
            <option value="Willow Pill">Willow Pill</option>
            <option value="Angeria Paris VanMicheals">Angeria Paris VanMicheals</option>
            <option value="Lady Camden">Lady Camden</option>
            <option value="Daya Betty">Daya Betty</option>
            <option value="Jasmine Kennedie">Jasmine Kennedie</option>
            <option value="Jorgeous">Jorgeous</option>
            <option value="Kerri Colby">Kerri Colby</option>
            <option value="Maddy Morphosis">Maddy Morphosis</option>
            <option value="Orion Story">Orion Story</option>
            <option value="Kornbred 'The Snack' Jete">Kornbred 'The Snack' Jete</option>
            <option value="Alyssa Hunter">Alyssa Hunter</option>
            <option value="June Jambalaya">June Jambalaya</option>
          </select>
          <br>
          <br>
          <button type="submit">Make Guess</button>
        </form>
      </section>
    <% } %>
    <br>
    <section class="maxi-section <% if (profile.favQueen === undefined) { %>
        hide"
      <% } %>"
    <% if (isSelf === false) { %>
      display="none"
       <% } %>
      > 
      <div class="maxi-title">Who will win this week's Maxi Challenge?</div>
      <form 
        action="/profiles/guessEpisode"
        method="post"
        class="weekly-guess-form"
      >
      <% if (profile.guessEpisode === []) { %>
        <label>
          Episode:
          <select name="episode">
            <% if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === undefined) { %>
              <option value="1">1</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 1){%>
            <option value="2">2</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 2){%>
            <option value="3">3</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 3){%>
            <option value="4">4</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 4){%>
            <option value="5">5</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 5){%>
            <option value="6">6</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 6){%>
            <option value="7">7</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 7){%>
            <option value="8">8</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 8){%>
            <option value="9">9</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 9){%>
            <option value="10">10</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 10){%>
            <option value="11">11</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 11){%>
            <option value="12">12</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 12){%>
            <option value="13">13</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 13){%>
            <option value="14">14</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 14){%>
            <option value="15">15</option>
            <% } else if (profile.guessEpisode[profile.guessEpisode.length - 1].episode === 15){%>
            <option value="16">16</option>
            <% } %> 
          </select>
        </label>
      <% } %>
        <br>
        <label class="label">
          Name:
          <select name="name">
            <option value="Bosco">Bosco</option>
            <option value="DeJa Skye">DeJa Skye</option>
            <option value="Willow Pill">Willow Pill</option>
            <option value="Angeria Paris VanMicheals">Angeria Paris VanMicheals</option>
            <option value="Lady Camden">Lady Camden</option>
            <option value="Daya Betty">Daya Betty</option>
            <option value="Jasmine Kennedie">Jasmine Kennedie</option>
            <option value="Jorgeous">Jorgeous</option>
            <option value="Kerri Colby">Kerri Colby</option>
            <option value="Maddy Morphosis">Maddy Morphosis</option>
            <option value="Orion Story">Orion Story</option>
            <option value="Kornbred 'The Snack' Jete">Kornbred 'The Snack' Jete</option>
            <option value="Alyssa Hunter">Alyssa Hunter</option>
            <option value="June Jambalaya">June Jambalaya</option>
          </select>
        </label>
        <br>
        <br>
        <button type="submit">Make Guess</button>
      </form>
    </section>
  <% } %>
  <% if (profile.guessSeason !== undefined) { %>
    <section <% if (isSelf) { %>
     class="season-guess"
    <% } else { %>
      class="season-guess-player"
      <% } %> >
      <h1 class="s14-winner">Season Winner Prediction</h1>
      <br>
      <br>
      <div class="season-prediction"><%= profile.guessSeason %></div>
    </section>
  <% } %>
  <section 
  <% if (profile.favQueen === undefined) { %>
   hidden='true'
  <% } %>
  <% if (isSelf) { %>
    class="weekly-guess-table"
  <% } else { %> 
      class="player-weekly-guess"
    <% } %> >
    <h1 class="table-title">Weekly Guesses</h1>
    <table>
      <thead>
        <tr>
          <th>Episode</th>
          <th>Queen</th>
        </tr>
      </thead>
      <tbody>
        <% profile.guessEpisode.forEach(guess => { %>
          <tr>
            <td><%= guess.episode %></td>
            <td><%= guess.name %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% if (isSelf) { %>
      <form action="/profiles/<%= profile._id %>/edit" method="GET">
        <button class="btn" type="submit">Change Guess</button>
      </form> 
      <% } %>
  </section>
</main>


<%- include('../partials/footer') %>