<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
        class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <% if (profile.favQueen === "" || profile.favQueen === undefined) { %> 
      <section class="favQueen">
        <h2>Add you all time favorite queen to your bio!</h2>
        <form action="/profiles/favQueen" method="post">
          <label>
            Name:
            <input type="text" name="favQueen" >
          </label>
          <button>Add Queen!</button>
        </form>
      </section>
    <% } else { %>
      <h3>My favorite queen: <%= profile.favQueen %> </h3>
      <form action="/profiles/<%= profile._id %>/edit" method="GET">
        <button class="btn" type="submit">Change Queen</button>
      </form>
    <% } %>
    <% if (profile.guessSeason === "" || profile.guessSeason === undefined) { %> 
      <h2>Who will be crowned America's next<br>Drag Superstar at the end of season 14?</h2>
      <form action="/profiles/guessSeason" method="post">
        <label>
          Season 14 Queens:
          <br>
          <select name="guessSeason">
            <option value="Bosco">Bosco</option>
            <option value="DeJa Skye">DeJa Skye</option>
            <option value="Willow Pill">Willow Pill</option>
            <option value="Angeria Paris VanMicheals">Angeria Paris VanMicheals</option>
            <option value="Lady Camden">Lady Camden</option>
            <option value="Daya Betty">Daya Betty</option>
            <option value="Jasmine Kennedie">Jasmine Kennedie</option>
            <option value="Jorgeous">Jorgeous</option>
            <option value="Kerri Colby">Kerri Colby</option>
            <option value="Maddy Morphosis">Maddy Morphosis</option>
            <option value="Orion Story">Orion Story</option>
            <option value="Kornbred 'The Snack' Jete">Kornbred 'The Snack' Jete</option>
            <option value="Alyssa Hunter">Alyssa Hunter</option>
            <option value="June Jambalaya">June Jambalaya</option>
          </select>
        </label>
        <button type="submit">Make Guess</button>
      </form>
    <% } else { %>
     <h3> My season 14 winner prediction: <%= profile.guessSeason %></h3>
    <% } %> 
    <br>
    <h2>Make a guess</h2>
    <form 
      action="/"
      autocomplete="off"
      method="post"
    >
      <label>
        Name:
        <select name="name">
          <option value="Bosco">Bosco</option>
          <option value="DeJa Skye">DeJa Skye</option>
          <option value="Willow Pill">Willow Pill</option>
          <option value="Angeria Paris VanMicheals">Angeria Paris VanMicheals</option>
          <option value="Lady Camden">Lady Camden</option>
          <option value="Daya Betty">Daya Betty</option>
          <option value="Jasmine Kennedie">Jasmine Kennedie</option>
          <option value="Jorgeous">Jorgeous</option>
        </select>
      </label>
      <br>
      <label>
        Episode:
        <select name="episode">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
        </select>
      </label>
      <br>
      <button type="submt">Make Guess</button>
  <% } %>
</main>


<%- include('../partials/footer') %>